body {
    background-color: #f8f9fa;
}

header {
    background-color: #ffffff;
    color: #3f3f3f;
    margin-bottom: 20px;
    padding: 10px 25px;
    /* min-height: 10rem; */
}

header .title {
    margin-left: 10px;
}

.btn-panel {
    display: flex;
    justify-content: center;
}
header .btn-panel button {
    margin: 5px 7px;
}
.managment {
    background-color: #ffffff;
    color: #3f3f3f;
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;
}
.managment .tab-content {
    font-size: 1.3em;
}
.managment .tab-content h3 {
    font-size: 1.5em;
}

.managment .tab-image {
    width: 400px;
}
.managment .tab-image img {
    width: 100%;
}
.managment .get-started {
    padding: 15px;
}

.ta-rigth {
    text-align: right;
}
.ta-left {
    text-align: left;
}
.ta-center {
    text-align: center;
}

.btn_panel.tasks-control {
    margin: 20px 0;
    padding: 5px 8px;
}

.task {
    margin-bottom: 25px;
}
.modal, .tab-content {
    color: #3f3f3f;
}
.tab-content, .tasks-control {
    background-color: #ffffff;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
